body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.actions {
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    align-content: center;
    place-items: center; /* Center cards inside the grid */
    overflow: hidden; 
    width: 80vw; 
    height: 70vh;
}

.restart-game{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.restart-game:hover  {
    background-color: #0056b3;
}

.card {
    background-color: #007bff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.card.flipped img {
    display: block;
}
