body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color: white;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card-selection {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="number"], input[type="text"] {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 400px;
    margin-bottom: 10px;
    /* Space between input and button */
    /* Adjust the width as needed */
}

input[type="number"]:focus, input[type="text"]:focus {
    border-color: #007bff;
    /* Change border color on focus */
    background-color: #ffffff;
    /* Change background color on focus */
}

.cards-select-button, .restart-game{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cards-select-button:hover  {
    background-color: #0056b3;
    /* Darker shade on hover */
}

.error-message {
    font-size: 18px;
}
